* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    overflow: hidden;
}
.app {
    position: relative;
    width: 100%;
    height: 100%;
}

.app::before {
    content: "";
    position: fixed;
    background-image: url("https://w.forfun.com/fetch/2a/2ad529f8732e9c043ef430a936f4f0bc.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    opacity: .7;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    gap: .5rem;
}

.products {
    display: flex;
    margin-bottom: 1rem;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 1.5rem;
    padding: .5rem 0;
}

.reset {
    color: brown;
    border: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .5);
    padding: .7rem;
    border-radius: 5%;
    font-weight: bold;
}

.reset:hover {
    background-color: brown;
    color: white;
}

.header {
    padding: .5rem;
    position: sticky;
    top: 0;
    width: 100%;
    background-color: rgba(252, 233, 171, .95)
}


.products-header {
    display: grid;
    grid-template-columns: 2fr 1fr 3fr .4fr;
    justify-content: space-between;
    justify-items: stretch;
    align-items: center;
    width: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .5);
    padding: .25rem .5rem;
    background-color: lightblue;
    text-align: center;
    gap: 2rem;
}

.products-content {
    display: flex;
    padding: .5rem;
    justify-content: stretch;
    flex-direction: column;
    background: snow;
     height: 100%;
    overflow: scroll;
}

.products-filter {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: .5rem;
    gap: 1rem;
}

.products-filter input {
    padding: .5rem;
    font-size: 1rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .5);
    outline: none;
    border: none;
}

.products-count {
    color: darkgreen;
}

.filtered-count {
    color: brown;
}

.product {
    display: grid;
    grid-template-columns: 2fr 1fr 3fr .3fr;
    justify-content: space-between;
    justify-items: stretch;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .5);
    padding: .25rem .5rem;
    width: 100%;
    text-align: center;
    margin-bottom: .5rem;
}

.danger, .hover:hover {
    color: brown;
}

.outline-danger {
    outline: 1px solid brown !important;
}

.product-price {
    margin-left: .5rem;
    border: 1px dashed darkgoldenrod;
    box-shadow: 0 2px 5px rgba(184, 134, 11, .7);
}

.product-id {
    color: cornflowerblue;
}

.product-prod {
    word-break: break-word;
}

.product-more {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin: 1rem 0;
}

.product-more button {
    padding: .5rem;
    background: lightblue;
    border: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .5);
    cursor: pointer;
    font-size: medium;
    border-radius: 3%;
}

.product-more button:hover:not([disabled]) {
    color: darkgreen;
    border-radius: 3%;
    box-shadow: 0 2px 5px rgba(0, 100, 0, .5);
}

.pagination {
    margin-top: auto;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    column-gap: 1.5rem;
    list-style: none;
    cursor: pointer;
    margin-bottom: 2rem;
    padding: .5rem;
}
.pagination > li > a:hover {
    color: brown;
}
.active-page {
    color: white !important;
    background: seagreen !important;
    padding: .5rem !important;
    font-weight: bold !important;

}

.error-request {
    padding: .3rem;
    background-color: brown;
    color: whitesmoke;
    outline: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .5);
    cursor: pointer;
    font-size: medium;
    border-radius: 3%;
}


.error-data {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 50%;
    margin: 0 auto;
}
.container-loader {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80vh;
    gap: 1rem;
    background-color: rgba(252, 233, 171, .8)
}

.loader {
    transform: rotateZ(45deg);
    perspective: 1000px;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    color: rgb(128, 128, 128);
}

.loader:before,
.loader:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    border-radius: 50%;
    transform: rotateX(70deg);
    animation: 1s spin linear infinite;
}

.loader:after {
    color: #FF3D00;
    transform: rotateY(70deg);
    animation-delay: .4s;
}

@keyframes rotate {
    0% {
        transform: translate(-50%, -50%) rotateZ(0deg);
    }
    100% {
        transform: translate(-50%, -50%) rotateZ(360deg);
    }
}

@keyframes rotateccw {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(-360deg);
    }
}

@keyframes spin {
    0%,
    100% {
        box-shadow: .2em 0px 0 0px currentcolor;
    }
    12% {
        box-shadow: .2em .2em 0 0 currentcolor;
    }
    25% {
        box-shadow: 0 .2em 0 0px currentcolor;
    }
    37% {
        box-shadow: -.2em .2em 0 0 currentcolor;
    }
    50% {
        box-shadow: -.2em 0 0 0 currentcolor;
    }
    62% {
        box-shadow: -.2em -.2em 0 0 currentcolor;
    }
    75% {
        box-shadow: 0px -.2em 0 0 currentcolor;
    }
    87% {
        box-shadow: .2em -.2em 0 0 currentcolor;
    }
}

.container-loader-find {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    backdrop-filter: blur(10px);
}

.loader-find {
    width: 28px;
    height: 28px;
    display: block;
    margin: 4px auto;
    position: relative;
    border: 3px solid #933232;
    border-radius: 50%;
    box-sizing: border-box;
    animation: animloader 2s linear infinite;
}

.loader-find::after {
    content: '';
    box-sizing: border-box;
    width: 6px;
    height: 16px;
    background: #100f0f;
    transform: rotate(-45deg);
    position: absolute;
    bottom: -12px;
    left: 24px;
}

@keyframes animloader {
    0% {
        transform: translate(-5px, -5px);
    }
    25% {
        transform: translate(-5px, 5px);
    }
    50% {
        transform: translate(5px, 5px);
    }
    75% {
        transform: translate(5px, -5px);
    }
    100% {
        transform: translate(-5px, -5px);
    }
}
